In [4]:
import pandas as pd

In [31]:
# 1. Create a DataFrame for the 201908-citibike-tripdata data. 
df = pd.read_csv('201908-citibike-tripdata.csv', sep='\t')

In [24]:
# 2. Check the datatypes of your columns. 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2344224 entries, 0 to 2344223
Data columns (total 15 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             int64
 1   starttime                object
 2   stoptime                 object
 3   start station id         int64
 4   start station name       object
 5   start station latitude   object
 6   start station longitude  object
 7   end station id           float64
 8   end station name         object
 9   end station latitude     object
 10  end station longitude    object
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               int64
 14  gender                   int64
dtypes: float64(1), int64(5), object(9)
memory usage: 268.3+ MB

In [32]:
# 3. Convert the 'tripduration' column to datetime datatype.
df['tripduration'] = pd.to_datetime(df['tripduration'], unit='s')
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1970-01-01 00:06:33,2019-08-01 00:00:01.4680,2019-08-01 00:06:35.3780,531,Forsyth St & Broome St,"40,71893904","-73,99266288",408.0,Market St & Cherry St,"40,71076228","-73,99400398",35305,Subscriber,1996,2
1,1970-01-01 00:10:27,2019-08-01 00:00:01.9290,2019-08-01 00:10:29.7840,274,Lafayette Ave & Fort Greene Pl,"40,68691865","-73,976682",3409.0,Bergen St & Smith St,"40,6867443","-73,99063168",38822,Subscriber,1998,2
2,1970-01-01 00:18:52,2019-08-01 00:00:04.0480,2019-08-01 00:18:56.1650,2000,Front St & Washington St,"40,70255088","-73,98940236",3388.0,President St & Henry St,"40,6828003","-73,99990419",18373,Subscriber,1988,1
3,1970-01-01 00:29:40,2019-08-01 00:00:04.1630,2019-08-01 00:29:44.7940,479,9 Ave & W 45 St,"40,76019252","-73,9912551",473.0,Rivington St & Chrystie St,"40,72110063","-73,9919254",25002,Subscriber,1988,1
4,1970-01-01 00:25:17,2019-08-01 00:00:05.4580,2019-08-01 00:25:23.4550,3312,1 Ave & E 94 St,"40,7817212","-73,94594",3312.0,1 Ave & E 94 St,"40,7817212","-73,94594",31198,Subscriber,1965,2

In [18]:
# 4. Check the datatypes of your columns. 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2344224 entries, 0 to 2344223
Data columns (total 15 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             datetime64[ns]
 1   starttime                object
 2   stoptime                 object
 3   start station id         int64
 4   start station name       object
 5   start station latitude   object
 6   start station longitude  object
 7   end station id           float64
 8   end station name         object
 9   end station latitude     object
 10  end station longitude    object
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               int64
 14  gender                   int64
dtypes: datetime64[ns](1), float64(1), int64(4), object(9)
memory usage: 268.3+ MB

In [33]:
# 5. Export the Dataframe as a new CSV file without the index.
df.to_csv('new_tripduration.csv', index=False)

In [20]:
# 5. Export the Dataframe as a new CSV file without the index.
df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1970-01-01 00:00:00.000000393,2019-08-01 00:00:01.4680,2019-08-01 00:06:35.3780,531,Forsyth St & Broome St,"40,71893904","-73,99266288",408.0,Market St & Cherry St,"40,71076228","-73,99400398",35305,Subscriber,1996,2
1,1970-01-01 00:00:00.000000627,2019-08-01 00:00:01.9290,2019-08-01 00:10:29.7840,274,Lafayette Ave & Fort Greene Pl,"40,68691865","-73,976682",3409.0,Bergen St & Smith St,"40,6867443","-73,99063168",38822,Subscriber,1998,2
2,1970-01-01 00:00:00.000001132,2019-08-01 00:00:04.0480,2019-08-01 00:18:56.1650,2000,Front St & Washington St,"40,70255088","-73,98940236",3388.0,President St & Henry St,"40,6828003","-73,99990419",18373,Subscriber,1988,1
3,1970-01-01 00:00:00.000001780,2019-08-01 00:00:04.1630,2019-08-01 00:29:44.7940,479,9 Ave & W 45 St,"40,76019252","-73,9912551",473.0,Rivington St & Chrystie St,"40,72110063","-73,9919254",25002,Subscriber,1988,1
4,1970-01-01 00:00:00.000001517,2019-08-01 00:00:05.4580,2019-08-01 00:25:23.4550,3312,1 Ave & E 94 St,"40,7817212","-73,94594",3312.0,1 Ave & E 94 St,"40,7817212","-73,94594",31198,Subscriber,1965,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2344219,1970-01-01 00:00:00.000000216,2019-08-31 23:59:46.2930,2019-09-01 00:03:23.0360,116,W 17 St & 8 Ave,"40,74177603","-74,00149746",509.0,9 Ave & W 22 St,"40,7454973","-74,00197139",38655,Subscriber,1972,1
2344220,1970-01-01 00:00:00.000000117,2019-08-31 23:59:47.7970,2019-09-01 00:01:45.7440,3429,Hanson Pl & Ashland Pl,"40,68506807308177","-73,97790759801863",353.0,S Portland Ave & Hanson Pl,"40,68539567","-73,97431458",25264,Subscriber,1982,2
2344221,1970-01-01 00:00:00.000001614,2019-08-31 23:59:48.1560,2019-09-01 00:26:42.7760,387,Centre St & Chambers St,"40,71273266","-74,0046073",3440.0,Fulton St & Adams St,"40,69241829257847","-73,98949474096298",28485,Customer,1969,0
2344222,1970-01-01 00:00:00.000001301,2019-08-31 23:59:58.3620,2019-09-01 00:21:39.7040,3168,Central Park West & W 85 St,"40,78472675","-73,96961715",423.0,W 54 St & 9 Ave,"40,76584941","-73,98690506",38664,Customer,1969,0
2344223,1970-01-01 00:00:00.000000419,2019-08-31 23:59:59.4520,2019-09-01 00:06:59.0210,447,8 Ave & W 52 St,"40,76370739","-73,9851615",529.0,W 42 St & 8 Ave,"40,7575699","-73,99098507",35210,Subscriber,1994,1